<!DOCTYPE html>
<html lang="en">
<head>
<!--

Google Maps API Key: AIzaSyBmCcyIJXAcXLd_lUOgf_ddrpYfsEWvH1Q

 -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Google Maps Demo</title>
  <style>
    #map {
/*      width: 100%;*/
      height: 800px;
      background-color: grey;
    }
    li {
      font-size:17px;
    }
  </style>
</head>
<body>
<h1>Hit-or-wait Map Demo</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
      <div>
        <h2>Steps</h2>
<!--           <p>
            <form onsubmit="return false;">
              Steps to look ahead: <br>
              <input type="text" name="steps" onchange="changeStepValue(this.value)"><br>
            </form>
          </p> -->
          <p>
            <form>
              <input id="step" type="range" name="steps" min=0 max={{maxTime}} step="1" value="0" oninput="showValue(this.value)">
            </form>
          </p>
          <div id="value" style="font-size:30px">{{maxTime-0}} steps left</div>
      </div>
      <div class="row" style="margin-top:0px">
        <div class="col-sm-12" style="background-color:sandybrown;">
          <h2>Decision Table</h2>
          <div id="decision">
            <ol id="decision_table" start="0">
            {% set cnt = 0 %}
            {% for decision in decisions %}
              <li id=decision{{cnt}}> {{decision}} </li>
              {% set cnt = cnt+1 %}
            {% endfor%}
            </ol>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:0px">
        <div class="col-sm-12" style="background-color:tomato;">
          <h2>Value Table</h2>
          <div id="value">
            <ul id="value_table">
              {% for key,value in values.iteritems() %}
              <li> {{key}}: {{value}} </li>
              {% endfor%}
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:0px">
        <div class="col-sm-12" style="background-color:#00c8a4;">
          <h2>Probability</h2>
            <div id="model">
              <ul id="model_table">
              {% for key,value in models.iteritems() %}
                <li> {{key}}: {{value}} </li>
              {% endfor%}
              </ul>
            </div>
        </div>
      </div>
      <button type="button" onclick="getRoutes()">Request Routes</button>
      <p id="routeDemo"></p>
      <button type="button" onclick="postRoutes(callBackFunc)">Post Routes</button>
      <p id="routePostDemo"></p>
    </div>
    <div class="col-sm-8" style="background-color:lavenderblush;" id="map"></div>
  </div>
</div>

<script>
var map,evanston,line,lineSymbol;

var wait = "/static/wait.png";
var hit = "/static/hit_32.png";

//TODO: get data from backend

var locs = {
's1':{lat:42.049302, lng: -87.678161},
's2':{lat:42.049493, lng:-87.678268},
's3':{lat:42.049762, lng: -87.679255},
's4':{lat:42.049909, lng: -87.679773}}

var locPath = [];
// $(document).ready(function(){
//   // for (var key in locs){
//   //   // console.log(locs[key]);
//   //   locPath.push(locs[key]);
//   // }
//   // console.log(locPath);
// });
var routes = {{routes|safe}};
var results = {{results|safe}};
var decisions = {{decisions|safe}};
var maxTime = {{maxTime|safe}};
var markers = [];

function initMap() {
  evanston = {lat: 42.049443, lng: -87.678066};
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: evanston,
  });
  lineSymbol = {path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW};

  // for (var key in locs){
  //   locPath.push(locs[key]);
  // }

  // line = new google.maps.Polyline({
  //   path: locPath,
  //   icons: [{
  //     icon: lineSymbol,
  //     offset: '100%'
  //   }],
  //   map:map
  // });

  addMarkers();
  addHitorWaitMarkers(routes[0],locs[routes[0]],decisions[maxTime-0][routes[0]],0);
}

function addMarkers() {
  for (var key in locs) {
    // console.log(locs[key]);
    var marker = new google.maps.Marker({
      position: locs[key],
      map: map,
      label: key,
      zIndex: 100
    });
  }
}


function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
  }
}

function addHitorWaitMarkers(road,coord,decision,steps) {
  setMapOnAll(null);
  markers = [];
  // addHitorWaitMarkers(road,coord,decisions[maxTime-step][road],step);

// routes[newValue],locs[routes[newValue]]
  for (var i =0; i<=steps;i++){
    console.log(steps);
    if(decisions[maxTime-i][routes[i]] == "Wait"){
      var waitMarker = new google.maps.Marker({
        position: locs[routes[i]],
        map: map,
        icon: wait,
        zIndex: 101
      });
      markers.push(waitMarker);
    }

    else if (decisions[maxTime-i][routes[i]] == "Hit"){
      var hitMarker = new google.maps.Marker({
        // 42.049393, -87.677913
        position: locs[routes[i]],
        map: map,
        icon: hit,
        zIndex: 101
      });
      markers.push(hitMarker);
    }
  }
  // tmp = {{values|tojson|safe}};
  // console.log(tmp);
}

function addPathArrow(steps) {
  if(line != null){
    line.setMap(null);
  }

  locPath = [];

  for (var i =0; i<=steps;i++){
    locPath.push(locs[routes[i]]);
  }

  line = new google.maps.Polyline({
    path: locPath,
    icons: [{
      icon: lineSymbol,
      offset: '100%'
    }],
    map:map
  });

  // locPath = [];
  // for (var key in locs){
  //   if(steps >=0){
  //     locPath.push(locs[key]);
  //     steps-=1
  //   }
  // }
  // console.log(locPath);
  // console.log(line);
}

var prevId = "";

function showValue(newValue) {
  addPathArrow(newValue);
  decisionId = 'decision' + (maxTime-newValue);
  console.log(decisionId);

  console.log(locs[routes[newValue]]);

  showDecision(routes[newValue],locs[routes[newValue]],newValue);

  if(prevId!=""){
    document.getElementById(prevId).style.fontSize = '17px';
    document.getElementById(prevId).style.color = 'black';
  }

  document.getElementById(decisionId).style.fontSize = '25px';
  document.getElementById(decisionId).style.color = 'red';
  document.getElementById('value').innerHTML= (maxTime - newValue) + " steps left";
  prevId = decisionId;
}

function showDecision(road,coord,step) {
  // console.log(road);
  // console.log(coord);
  // console.log(decisions[maxTime-step][road]);
  addHitorWaitMarkers(road,coord,decisions[maxTime-step][road],step);
}

function changeStepValue(newValue) {
 console.log(newValue);
 $.getJSON('/user', {steps: newValue}, function(data) {
    console.log("here is " + data.result);
  });
 // document.getElementById('step').reset
 document.getElementById('step').max = newValue
}

function getRoutes() {
  console.log("clicked");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function () {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("routeDemo").innerHTML = this.responseText;
    }
  };
  xhttp.open('GET','/routes',true);
  xhttp.send();
}

function postRoutes(cFunc) {
  console.log("post routes");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function () {
    console.log(this.readyState);
    if (this.readyState == 4 && this.status == 200) {
      cFunc(this);
    }
  }

  xhttp.open("POST", "/postCurrentRoute",true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("user=yk&route=42.52");
}

function callBackFunc(xhttp) {
  document.getElementById("routePostDemo").innerHTML = xhttp.responseText;

}

</script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9HzWAEObRUTCGDEvEj2apbwVs1IzuhGU&callback=initMap" type="text/javascript"></script> -->
</body>

